/*
Syntax error: File to import not found or unreadable: helpers/margin-collapse.
              Load paths:
                /home/carrot/Documents/amomh-app/media/bower_components/foundation/scss
                Compass::SpriteImporter
                /home/carrot/Documents/amomh-app/media/scss
                /var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets
        on line 46 of /home/carrot/Documents/amomh-app/media/scss/app.scss

41: 
42: @import
43:   "helpers/dimensions",
44:   "helpers/inset-text",
45:   "helpers/text-wrap",
46:   "helpers/margin-collapse",
47:   "helpers/align";
48: 
49: @import
50:   "base/typography",
51:   "base/foundation-icons";

Backtrace:
/home/carrot/Documents/amomh-app/media/scss/app.scss:46
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/import_node.rb:66:in `rescue in import'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/import_node.rb:45:in `import'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/import_node.rb:28:in `imported_file'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/import_node.rb:37:in `css_import?'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/engine.rb:274:in `render'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:462:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:324:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:254:in `call'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/sass-3.3.14/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: helpers/margin-collapse.\A               Load paths:\A                 /home/carrot/Documents/amomh-app/media/bower_components/foundation/scss\A                 Compass::SpriteImporter\A                 /home/carrot/Documents/amomh-app/media/scss\A                 /var/lib/gems/1.9.1/gems/compass-core-1.0.1/stylesheets\A         on line 46 of /home/carrot/Documents/amomh-app/media/scss/app.scss\A \A 41: \A 42: @import\A 43:   \"helpers/dimensions\",\A 44:   \"helpers/inset-text\",\A 45:   \"helpers/text-wrap\",\A 46:   \"helpers/margin-collapse\",\A 47:   \"helpers/align\";\A 48: \A 49: @import\A 50:   \"base/typography\",\A 51:   \"base/foundation-icons\";"; }
