.information-block-list {
  @include block-grid(1);
  @media #{$medium-up} {
    @include block-grid(2);
  }
}
//.information-block-list {
//  @include grid-row($behavior: nest);
//  li {
//    @include grid-column(12);
//    margin-bottom: 1.25rem;
//    @media #{$medium-up} {
//      @include grid-column(6);
//    }
//  }
//}
.portfolio-block-list {
  @extend .information-block-list;
  a {
    display: block;
    @include grid-row($behavior: nest);
  }
  header {
    min-height: 30px;
    position: relative;
    @include grid-column(12);
    @media #{$medium-up} {
      @include grid-column(6);
    }
    h3 {
      text-align: center;
      color: #CCC;
      @include inset-text-simple;
    }
  }
  figure {
    margin: 0;
    text-align: center;
    @include grid-column(12);
    @media #{$medium-up} {
      @include grid-column(6);
    }
  }
  div.table-container {
    @include grid-column(12);
    table {
      width: 100%;
      margin-top: 1.25rem;
      @media #{$medium-up} {
        margin-bottom: 0;
      }
    }
  }
}
.quote-block-list {
  @extend .information-block-list;
  div { @include box-shadow(0 15px 10px -10px rgba(0,0,0,.4)); }
  header {
    padding: 1.25rem .75rem;
    margin-bottom: 0;
    text-align: center;
    @include border-top-radius(5px);
    border: 1px solid $gainsboro;
    border-bottom-width: 0;
    background: #EFEFEF;
    @include box-shadow(0 0 3px rgba(0,0,0,.06) inset);
    h3 {
      margin: 0;
      color: #CCC;
      @include inset-text-simple;
    }
  }
  a.button {
    margin-bottom: 0;
    margin-top: 1.25rem;
    vertical-align: bottom;
  }
}