@mixin inset-text {
  position: relative;
  &::before, &::after {
    content: attr(title);
    position: absolute;
    color: rgba(255,255,255,.16)
  }
  &::before { top: 2px; left: 1px; }
  &::after { top: 3px; left: 2px; }
}
@mixin inset-text-simple {
  @include text-shadow(
          0 -1px 0 rgba(0, 0, 0, .6), // top 'edge'
          0 1px 0 #FFF, // bottom 'edge'
          0 0 50px rgba(0, 0, 0, .35) // area darken
  )
}