{% extends "base-website-design.html" %}

{% block content %}
    <header class="small-12 columns">
        <h1>Contact Me</h1>
    </header>
    <hr>
    <section class="small-12 columns">
        <div class="row">
            <header class="small-12 columns"><h3>Get a Quote</h3></header>
            <form class="small-12 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <label>Your Name or Company Name:
                            <input type="text" placeholder="Alex Doe / Many Hats Website Design">
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Website Systems:
                            <textarea placeholder="eg. Purely informational / Users can sign up to receive newsletters / Users can make item listings and must pay subscription fee etc."></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Project Priority:
                            <select>
                                <option value="low">Low</option>
                                <option value="medium">Medium</option>
                                <option value="high">High</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns text-center">
                    <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <hr>
    <section class="small-12 columns">
        <div class="row">
            <header class="small-12 columns"><h3>My Details</h3></header>
            <article class="small-12 columns text-center">
                <ul class="vcard">
                    <li class="fn">Sam Ritchie</li>
                    <li>Github - S1M1S</li>
                    <li class="email"><a
                            href="mailto:web-design@manyhatsstudio.com.au">web-design@manyhatsstudio.com.au</a></li>
                </ul>
            </article>
        </div>
    </section>
{% endblock %}