{% extends "base-article-page.html" %}

{% block sectiontitle %}Many Hats Website Design{% endblock %}

{% block sectionindex %}"/website-design"{% endblock %}

{% block content %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <header>
            <h1><small>Many Hats Website Design:</small></h1>
            <h1 id="website-design-heading">Modern, Efficient, Mobile-Friendly and Effective Website Designs.</h1><!-- TODO: size words for style -->
        </header>
        <section>
            <header>
                <h3>Hi, my name is Sam Ritchie.</h3>
                <p>I'm a semi-professional contract web designer and developer, with a simple set of design goals that I apply to all of my projects.</p>
            </header>
            <section>
                <header><h3></h3></header>
                <article>
                    <p>I aim to:</p>
                    <ul>
                        <li>
                            <strong>Make fast, responsive websites.</strong> Nearly half of your users will expect your website to load in <em>two</em> seconds<sup><a href="#source-1">[1]</a></sup><sup><a href="#source-2">[2]</a></sup>. By following best practises, I will ensure that even the most impatient of users will find browsing your site a breeze.
                        </li>
                        <li>
                            <strong>Make stylish, modern websites.</strong> I take pride in designing websites that appeal to their demographic. I believe that the simplistic, clean and intuitive design of modern websites is the best place to start concerning all users of the internet. As such, I use this as a baseline when working with clients to develop a website that your customers will find attractive.
                        </li>
                        <li>
                            <strong>Make accessible websites.</strong> I feel that <em>all</em> websites should cater to <em>all</em> users. As I can <small>(unfortunately)</small> only influence the websites that I personally work on, I ensure that my websites are not only accessible but <em>ideal</em> for PCs, laptops, mobile devices, outdated browsers, and screen readers. As such, I will try my best to apply this same rule to your website.
                        </li>
                        <li>
                            <strong>Make unchallenging websites.</strong> I believe there is a limit to how stylish you should make a website. While a beautiful website is very important for gaining the attention of your user, it is overall pointless if the site is difficult to read! By using humanist fonts, vertical rhythms<sup><a href="#source-3">[3]</a></sup>, correct grammar and correct spelling, I aim to make your user's experience as positive as possible.
                        </li>
                    </ul>
                </article>
            </section>
            <section>
                <header><h3>...but that's just regarding the project itself.</h3></header>
                <article>
                    <p>I enjoy working with real people as well as code, and so when working with clients I aim to be friendly, diplomatic, truthful, and easy to contact (all without sacrificing professionalism of course).</p>
                    <p>If you'd like to start the conversation, feel free to visit the <a href="website-design/contact-me">contact me</a> page to get a quote!</p>
                </article>
            </section>
            <section>
                <header>Sources:</header>
                <article>
                    <ol>
                        <li><a id="source-1" href="https://blog.kissmetrics.com/speed-is-a-killer/">https://blog.kissmetrics.com/speed-is-a-killer/</a></li>
                        <li><a id="source-2" href="http://www.akamai.com/html/about/press/releases/2009/press_091409.html">http://www.akamai.com/html/about/press/releases/2009/press_091409.html</a></li>
                        <li><a id="source-3" href="http://designmodo.com/vertical-rhythm/">http://designmodo.com/vertical-rhythm/</a></li>
                    </ol>
                </article>
            </section>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).on("fontActive", function() {$("h1#website-design-heading").slabText();});
    </script>
{% endblock %}