{% extends "base-website-design.html" %}

{% block content %}
    <header class="small-12 columns">
        <div data-interchange="
                    [/media/html_snippets/wd-info-header-(small).html,(default)]
                ">
            <h1><a href="/media/html_snippets/wd-info-header-(small).html">Modern, Efficient, Mobile-Friendly
                and Effective Website Designs.</a></h1>
        </div>
    </header>
    <hr>
    <section class="small-12 columns">
        <header>
            <h3 class="subheader">Hi, my name is Sam Ritchie.</h3>
            <p>I'm a semi-professional contract web designer and developer, with a simple set of design goals
                that I apply to all of my projects.</p>
        </header>
        <section>
            <header><h3></h3></header>
            <article>
                <p>I aim to make:</p>
                <ul class="information-block-list">
                    <li>
                        <strong>Fast, responsive websites.</strong> Nearly half of your users will expect your
                        website to load in <em>two</em> seconds<sup><a href="#source-1">[1]</a></sup><sup><a
                            href="#source-2">[2]</a></sup>. By following best practises, I will ensure that even
                        the most impatient of users will find browsing your site a breeze.
                    </li>
                    <li>
                        <strong>Accessible websites.</strong> I feel that <em>all</em> websites should cater to
                        <em>all</em> users. As I can
                        <small>(unfortunately)</small>
                        only influence the websites that I personally work on, I ensure that my websites are not
                        only accessible but <em>ideal</em> for PCs, laptops, mobile devices, outdated browsers,
                        and screen readers.
                    </li>
                    <li>
                        <strong>Stylish, modern websites.</strong> I take pride in designing websites that
                        appeal to their demographic. I believe that the simplistic, clean and intuitive nature
                        of modern websites is the best place to start concerning all users of the internet.
                    </li>
                    <li>
                        <strong>Unchallenging websites.</strong> I believe there is a limit to how stylish you
                        should make a website. By using humanist fonts, vertical rhythms<sup><a
                            href="#source-3">[3]</a></sup> and excellent proof-reading, I aim to make your
                        user's experience as positive as possible.
                    </li>
                </ul>
            </article>
        </section>
        <hr>
        <section>
            <header><h3 class="subheader">but that's just regarding the project itself.</h3></header>
            <article>
                <p>I enjoy working with real people as well as code, and so when working with clients I aim to
                    be friendly, diplomatic, genuine, truthful, and easy to contact (all without sacrificing
                    professionalism of course).</p>
                <p>If you'd like to start the conversation, feel free to visit the <a href="contact-me">contact
                    me</a> page to get a quote!</p>
            </article>
        </section>
        <section>
            <header>Sources:</header>
            <article class="force-wrap">
                <ol>
                    <li><a id="source-1" href="https://blog.kissmetrics.com/speed-is-a-killer/">blog.kissmetrics.com/speed-is-a-killer/</a>
                    </li>
                    <li><a id="source-2"
                           href="http://www.akamai.com/html/about/press/releases/2009/press_091409.html">www.akamai.com/.../press_091409.html</a>
                    </li>
                    <li><a id="source-3" href="http://designmodo.com/vertical-rhythm/">designmodo.com/vertical-rhythm/</a>
                    </li>
                </ol>
            </article>
        </section>
    </section>
{% endblock %}