{% extends "base-website-design.html" %}

{% block content %}
    <header class="small-12 columns no-margin-collapse">
        <h1>Portfolio</h1>
        <aside class="right"><p><em>(Websites in chronological order, latest at top)</em></p></aside>
    </header>
    <section class="small-12 columns">
        <ul class="portfolio-block-list">
            <li>
                <a href="http://www.manyhatsstudio.com.au" title="Click to visit!">
                    <header><h3>Many Hats Studio</h3></header>
                    <figure><img title="Many Hats Studio Thumbnail" class="thumbnail" src=http://placehold.it/400x300"></figure>
                    <div class="table-container">
                        <table>
                            <tbody>
                            <tr>
                                <th>Desc:</th>
                                <td>My own website</td>
                            </tr>
                            <tr>
                                <th>Systems:</th>
                                <td>Purely informational</td>
                            </tr>
                            <tr>
                                <th>Team:</th>
                                <td>Me</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.bikebay.com" title="Click to visit!">
                    <header><h3>Bike Bay</h3></header>
                    <figure><img title="Bike Bay Thumbnail" class="thumbnail" src=http://placehold.it/400x300"></figure>
                    <div class="table-container">
                        <table>
                            <tbody>
                            <tr>
                                <th>Desc:</th>
                                <td>Online motorbike classifieds</td>
                            </tr>
                            <tr>
                                <th>Systems:</th>
                                <td>Users pay subscription or listing fee to display bikes on website. Pages are dynamically generated depending on content submitted by users.</td>
                            </tr>
                            <tr>
                                <th>Team:</th>
                                <td>2 people, I designed and inserted content</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.comeparkatmine.com" title="Click to visit!">
                    <header><h3>Come Park at Mine</h3></header>
                    <figure><img title="Come Park at Mine Thumbnail" class="thumbnail" src=http://placehold.it/400x300"></figure>
                    <div class="table-container">
                        <table>
                            <tbody>
                            <tr>
                                <th>Desc:</th>
                                <td>Online parking spot classifieds</td>
                            </tr>
                            <tr>
                                <th>Systems:</th>
                                <td>Users pay subscription fee to display parking spot on website. Browsing users are able to find parking spots close to their destination using the embedded interactive map and filter spots by date available.</td>
                            </tr>
                            <tr>
                                <th>Team:</th>
                                <td>2 people, I designed and inserted content</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.petnutritioncentre.com.au" title="Click to visit!">
                    <header><h3>Pet Nutrition Centre</h3></header>
                    <figure><img title="Pet Nutrition Centre Thumbnail" class="thumbnail" src=http://placehold.it/400x300"></figure>
                    <div class="table-container">
                        <table>
                            <tbody>
                            <tr>
                                <th>Desc:</th>
                                <td>About Pet Nutrition Centre</td>
                            </tr>
                            <tr>
                                <th>Systems:</th>
                                <td>Purely informational, contains links to relevant websites</td>
                            </tr>
                            <tr>
                                <th>Team:</th>
                                <td>Me</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </li>
            <li>
                <a href="http://www.chewchew.com.au" title="Click to visit!">
                    <header><h3>Chew Chew Pet Restaurant</h3></header>
                    <figure><img title="Chew Chew Thumbnail" class="thumbnail" src=http://placehold.it/400x300"></figure>
                    <div class="table-container">
                        <table>
                            <tbody>
                            <tr>
                                <th>Desc:</th>
                                <td>About Chew Chew, its upcoming events and online shop</td>
                            </tr>
                            <tr>
                                <th>Systems:</th>
                                <td>Online shop, users register to receive newsletters, blog</td>
                            </tr>
                            <tr>
                                <th>Team:</th>
                                <td>
                                    Adobe Business Catalyst - I inherited this website and substantially redesigned it<br>
                                    Newsletter is designed and written weekly by me
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </a>
            </li>
        </ul>
    </section>
{% endblock %}
{% block script %}
    <script>
        var $window = $(window);
        var $portfolioImg = $("ul.portfolio-block-list img");
        function vAlignHeaders($img) {
            var $figure = $img.parent();
            var $header = $figure.parent().find("header");
            if ($window.width() >= 641) {
                $header.height($figure.height());
                $header.find("h3").addClass("v-align-middle");
            } else {
                $header.height("auto");
                $header.find("h3").removeClass("v-align-middle");
            }
        }
        $($portfolioImg).load(function() {
            vAlignHeaders($(this))
        });
        $window.resize(function() {
            vAlignHeaders($portfolioImg)
        });
    </script>
{% endblock %}