{% extends "base-website-design.html" %}

{% block content %}
    <header><h1>Estimated Quotes</h1></header>
    <section>
        <ul>
            <li>
                <header><h3>Simple Informational</h3></header>
                <table>
                    <tbody>
                    <tr>
                        <td>A small site (1 - 3 pages) with minimal user interactivity</td>
                    </tr>
                    <tr>
                        <td>eg. <a title="Pet Nutrition Centre" href="http://www.petnutritioncentre.com.au">Pet
                            Nutrition Centre</a></td>
                    </tr>
                    <tr>
                        <th>Price:</th>
                        <td>Between 200AUD and 500AUD depending on requirements, most small sites will be around 200 and
                            300.
                        </td>
                    </tr>
                    <tr>
                        <th>Dev. time:</th>
                        <td>Depending on payment, most sites of this nature can be completed in less than 1 working
                            week.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <header><h3>Complex Informational</h3></header>
                <table>
                    <tbody>
                    <tr>
                        <td>A large branching site with minimal user interactivity.</td>
                    </tr>
                    <tr>
                        <td>eg. the website you're on right now!</td>
                    </tr>
                    <tr>
                        <th>Price:</th>
                        <td>Between 500AUD and 700AUD.</td>
                    </tr>
                    <tr>
                        <th>Dev. time</th>
                        <td>Depending on payment, most sites of this nature can be completed in 2 - 3 weeks.</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <header><h3>Simple Interactive</h3></header>
                <table>
                    <tbody>
                    <tr>
                        <td>A small site with a single objective.</td>
                    </tr>
                    <tr>
                        <td>eg. <a title="Come Park at Mine" href="http://www.comeparkatmine.com">Come Park at Mine</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Price:</th>
                        <td>Between 1000AUD and 1500AUD.</td>
                    </tr>
                    <tr>
                        <th>Dev. time</th>
                        <td>Depending on payment, most sites of this nature can be completed in 4 - 6 weeks.</td>
                    </tr>
                    </tbody>
                </table>
            </li>
            <li>
                <header><h3>Complex Interactive</h3></header>
                <table>
                    <tbody>
                    <tr>
                        <td>A large branching site with lots of user interactivity and multiple objectives.</td>
                    </tr>
                    <tr>
                        <td>eg. <a title="Chew Chew" href="http://www.chewchew.com.au">Chew Chew</a></td>
                    </tr>
                    <tr>
                        <td>Unfortunately sites of this complexity are better handled by a larger
                            <small>and more expensive</small>
                            team. If you're still looking for website development within Sydney, take a look at <a
                                    href="http://www.cyrius.com.au">Cyrius Media Group</a>.
                        </td>
                    </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </section>
{% endblock %}