{% extends "base-article-page.html" %}

{% block sectiontitle %}Many Hats Website Design{% endblock %}

{% block sectionindex %}"/website-design"{% endblock %}

{% block content %}
    <div class="row">
        <header>
            <h1><small>Many Hats Website Design:</small></h1>
            <h1 id="website-design-heading">Modern, Efficient, Mobile-Friendly and Effective Website Designs.</h1><!-- TODO: size words for style -->
        </header>
        <article></article>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).on("fontActive", function() {$("h1#website-design-heading").slabText();});
    </script>
{% endblock %}