{% extends "base.html" %}

{% block markup %}
    <header class="fixed">
        <nav class="top-bar" role="navigation" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href={% block sectionindex %}"/CHANGELINK"{% endblock %}>
                            {% block sectiontitle %}CHANGETITLE{% endblock %}
                        </a>
                    </h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#"><span>Menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                {% block navbar %}{% endblock %}
            </section>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <nav>
            <ul class="inline-list">
                <li><a href="/">Home</a></li>
                <li><a href="/website-design/information">Website Design</a></li>
                <li><a href="/internet-radio/information">Internet Radio</a></li>
                <li><a href="/music-production/information">Music Production</a></li>
            </ul>
        </nav>
    </footer>
{% endblock %}