{% extends "base.html" %}

{% block title %}{% endblock %}

{% block markup %}
    <div>
        <aside class="right">
            <nav class="icon-bar vertical three-up">
                <a class="item" href="/website-design/information" role="button" tabindex="0">
                    <img src="/foo">
                    <label>Website Design</label>
                </a>
                <a class="item" href="/internet-radio/information" role="button" tabindex="0">
                    <img src="/foo">
                    <label>Internet Radio</label>
                </a>
                <a class="item" href="/music-production/information" role="button" tabindex="0">
                    <img src="/foo">
                    <label>Music Production</label>
                </a>
            </nav>
        </aside>
        <div id="index-heading-container">
            <h1 id="index-heading">Many Hats Studio</h1>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).on("fontActive", function () {
            $("h1#index-heading").slabText();
        })
    </script>
{% endblock %}